extends ../layout

block head
	title Settings | Pictroid

block variables
	- var bodyClasses = "background-wallpaper"
	- var headerClasses = 'navbar-fixed-top navbar-transparent'

block content
	form.form-settings.form-transparent(role="form", action="/account/settings", method="POST", enctype="multipart/form-data", onsubmit="return(validate());")
		img(src="/images/logo/icon.png", alt="Pictroid", height="75")
		hr
		.settings-combo
			img.settings-picture(src="#{profileImgSrc}", alt="#{username}_profile_image")
			input.form-file(type="file", id="profilePhotoFileUpload", name="profileImgFile", accept="image/*")
			.settings-sidebar
				p.form-control(id="username") #{username}
				p.form-control(class="formp") #{status}
				p.form-control(class="formp") #{email}
		hr
		input.form-control(type="password", name="password", placeholder="New Password")
		input.form-control(type="password", name="passwordconfirm", placeholder="Confirm Password")
		p(class="emsg" style="color:#DD7674;display:none;")
		if (error)
			p(class="emsg") #{error}
		button.btn.btn-lg.btn-block(type="submit") Update
		script.
			function validate(){
				var valid = true,
					form = window.document.forms[0],
					ermsg = "",
					emsg = window.document.querySelectorAll(".emsg")[0];
				if((!form.profileImgFile || !form.profileImgFile.files[0]) &&
						!form.password.value) {
					ermsg = "Nothing to change...";
					valid = false;
				}
				if(form.profileImgFile && form.profileImgFile.files[0] && form.profileImgFile.files[0].size > 30000){
					ermsg += "File must be below 30kb in size.<br>";
					valid = false;
				}
				if(form.password.value && !(/^[a-z0-9_-]{6,14}$/g).test(form.password.value)){
					ermsg += "Invalid password, needs to be 6-14 alphanumeric and - _ characters.<br>";
					valid = false;
				}
				if(form.password.value && !(form.password.value === form.passwordconfirm.value)) {
					ermsg += "Passwords do not match.<br>";
					valid = false;
				}
				if (valid) {
					emsg.style.display = "none";
					return valid;
				} else {
					emsg.innerHTML = ermsg;
					emsg.style.display = "block";
					return valid;
				}
			}