extends layout

block head
	title= picObject.image.get("name")+' | Pictroid'
	
block variables
	- var headerClasses = 'navbar-absolute'

block content
	+chickenLittle()
	.page
		.container.image-page
			if m
				div.notice
					h1= m.title
					= m.message
			h1.image-title= picObject.image.get("name")
			hr
			.image-container
				img.image-image(src=picObject.src.get("src"), alt=picObject.image.get("name"))
				.image-share
					.a2a_kit.a2a_default_style.a2a_kit_size_32
						a.a2a_dd(href="http://www.addtoany.com/share_save")
						a.a2a_button_facebook
						a.a2a_button_twitter
						a.a2a_button_google_plus
						a.a2a_button_email
						a.a2a_button_wordpress
					script(type="text/javascript", src="//static.addtoany.com/menu/page.js")
			.image-stats
				.image-by
					i by &nbsp;
					a(href="/user/"+picObject.username)= picObject.username
				.image-tags
					.tag #foo
					.tag #bar
				.image-social
					ul(class="details")
						li(class="views")
							if views
								span= views
							else 
								| 0
						li(class="comments")
							a(href="/pic/"+picObject.image.id+"#disqus_thread", data-disqus-identifier=picObject.image.id) 0
			.image-details
				.image-description 
					p= picObject.image.get("description")
				//
					.image-comments
						h2 Comment on this pic
						if !authed
							p.image-comments-notice Please <a href="/signin">Sign In</a> or 
								<a href="/signup">Sign Up</a> to comment.
						.comment
							a.comment-user(href="#") Foo User
							.comment-text Bar baz qux
						.comment
							a.comment-user(href="#") Foo User
							.comment-text Bar baz qux
						.comment
							a.comment-user(href="#") Foo User
							.comment-text Bar baz qux
						.comment
							a.comment-user(href="#") Foo User
							.comment-text Bar baz qux
						.comment
							a.comment-user(href="#") Foo User
							.comment-text Bar baz qux
				!= '<script>var thisID="'+picObject.image.id+'";</script>'
				#disqus_thread
					script.
						/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						var disqus_shortname = 'codexa'; // required: replace example with your forum shortname
						var disqus_identifier = thisID;
						
						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
						(function () {
							var s = document.createElement('script'); s.async = true;
							s.type = 'text/javascript';
							s.src = '//' + disqus_shortname + '.disqus.com/count.js';
							(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
						}());
					noscript
						| Please enable JavaScript to view the
						a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
					a.dsq-brlink(href='http://disqus.com')
						| comments powered by
						span.logo-disqus Disqus
