extends ../layout

block head
	title= profile_username+'\'s Profile | Pictroid'

block content
	+chickenLittle()
	.page
		.container.profile-container
			.profile-info
				img.profile-info-picture(src="#{profile_image}", alt="profile_image")
				.profile-info-text
					.profile-name #{profile_username}
					p #{profile_status}
					p #{profile_picsCount} Pictroids
					p #{profile_picsTotalCount} Views
				//- img.profile-header-picture(src="/images/profile/pic_userh.png", alt="profile_image")
			.profile-pics
				h3
					a(href="#") Pics
				hr
				+feed()
